
@tailwind base;
@tailwind components;
@tailwind utilities;

*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}
.eye{
   border-radius:  75% 15%;
   transform: rotate(45deg);
   border: 1px solid black;
   padding: 2px;
}
body{
   background-color: #101c30;
   overflow-x: hidden;
}
.menu-cont{
   transition:  950ms ease-in-out !important;
   
}
canvas{
   padding-left: 100px !important;
}


.romauld{
   font-size: clamp(40px, 8vw, 80px);
}
.ph-icons{
   transition: 1s ease-in-out;
   transition-property: transform;
}

