
@tailwind base;
@tailwind components;
@tailwind utilities;

*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}
html{
   scrollbar-color: grey #101c30;
   scroll-behavior: smooth;
}
.eye{
   border-radius:  75% 15%;
   transform: rotate(45deg);
   border: 1px solid black;
   padding: 2px;
}
body{
   background-color: #101c30;
   overflow-x: hidden;
}

.menu-cont{
   transition:  300ms ease-in-out !important;
   
}
canvas{
   padding-left: 100px !important;
}


.romauld{
   font-size: clamp(40px, 8vw, 80px);
}
.ph-icons{
   transition: 1s ease-in-out;
   transition-property: transform;
}

.inputTag:focus ~ .floating-label,
.inputTag:not(:focus):valid ~ .floating-label{
  top: 8px;
  bottom: 10px;
  left: 20px;
  font-size: 11px;
  opacity: 1;
  color: #e9b171;
}

 
.floating-label {
  pointer-events: none;
  transition: 0.2s ease all;
}
@media screen and (max-width:223px) {
   .nav button{
      display: none;
   }
}